<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

<div class='main_show'>
<h1>Burn1ng A1rl1nes</h1>
<p> - we only fly chain smokers - </p>
  <nav>
    <ul>
      <li id='Home'><a href="#">Home</a></li>
      <li id='Flight'><a href="flights">Flights</a></li>
    </ul>
  </nav>

  
</div>
<!-- 
  <script id='app-template' type="text/handlebars-template">

    <div id='index'>
      <h1>Airplanes</h1>
      <div id='airplanes_list'></div>
      <p>this shows two planes together now but once the single page is working it will be there </p>
    </div>
  </script>


  <script id='about-template' type="text/handlebars-template">
    <span>All about burning airlines</span>
  </script>

  <script id='airplane-template' type="text/handlebars-template">
    <div id='airplane_details'>
      <h1>{{ name }}</h1>

    </div>

    <div id='seat_option'>

    </div>
  </script>

    </article>
  </script>

 -->