<h1>INDEX PAGE</h1>

  <nav>
    <ul>
      <li id='Home'><a href="#">Home</a></li>
    </ul>
  </nav>

  <div id='main'></div>


  <script id='app-template' type="text/handlebars-template">
    <h1>Airplanes</h1>
    <div id='airplanes_list'></div>
  </script>


  <script id='about-template' type="text/handlebars-template">
    <span>All about burning airlines</span>
  </script>

    </article>
  </script>

