<h1>INDEX PAGE</h1>

  <nav>
    <ul>
      <li id='Home'><a href="#">Home</a></li>
    </ul>
  </nav>

  <div id='main'></div>


  <script id='app-template' type="text/handlebars-template">

    <div id='index'>
      <h1>Airplanes</h1>
      <div id='airplanes_list'></div>
      <p>this shows two planesuhtrgvd jthfgv together now but once the single page is working it will be there </p>
    </div>
  </script>


  <script id='about-template' type="text/handlebars-template">
    <span>All about burning airlines</span>
  </script>

  <script id='airplane-template' type="text/handlebars-template">
    <div id='airplane_details'>
      // <h1>{{ name }}</h1>

    </div>

    <div id='seat_option'>

    </div>
  </script>

    </article>
  </script>

