#seat_option{
  width: 800px;
  height: 400px;
}

.seat{
  display: inline-block;
  margin: 2px;
  border: 1px solid red;
  width: 30px;
  height: 30px;
}

#seat:hover{
  color:white;
  background-color: red;
}